<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="phpunit.xsd"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         verbose="true">
    <testsuites>
        <testsuite name="functional">
            <directory suffix="Test.php">tests/functional</directory>
        </testsuite>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/unit</directory>
        </testsuite>
    </testsuites>
    <!--Add logging to text file-->
    <logging>
        <log type="coverage-text" target="tests/logs/tests.txt"/>
    </logging>
    <!--Setting xdebug profiler on-->
    <php>
        <ini name="xdebug.profiler_enable" value="on"/>
        <const name="FIXTURE_FOLDER" value="Fixture"/>
    </php>
</phpunit>